body {
  background: #ecf2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Alkatra", cursive;
  gap: 2em;
}

main {
  background: #e3dffd;
  padding: 1.5em 5.5em;
  border-radius: 1.5em;
  filter: drop-shadow(6px 5px 15px #e5d1fa);
  text-align: center;
}

.current-temp {
  margin: 0;
  font-size: 2rem;
}

.current-feel {
  margin: 0;
  font-size: 1.3rem;
}

.high-low {
  margin: 0;
}

h2 {
  margin: 0;
}

.weather-forecast{
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
  width: 300px;
  background: #e3dffd;
  border-radius: 1.5em;
  filter: drop-shadow(6px 5px 15px #e5d1fa);
  text-align: center;
}

#weather-header-data{
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.weather-details{
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.time{
  margin-left: 10px;
}

.temp-min{
  margin-left: 15px;
}